<VirtualHost *:443>

  ServerAdmin admin@collective.tools
  ServerName {{ common_name }}
  ErrorLog /var/log/{{ common_name }}_error.log
  TransferLog /var/log/{{ common_name }}_access.log
  LogLevel info

  SSLEngine On
  SSLCertificateFile            /etc/ssl/le/{{ common_name }}.cert.pem
  SSLCertificateKeyFile         /etc/ssl/le/{{ common_name }}.key.pem
  SSLCertificateChainFile       /etc/ssl/le/{{ common_name }}.ca.pem

  <Location />
          Order allow,deny
          Allow from all
  </Location>

  RewriteEngine On
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteRule /(.*)           ws://localhost:3000/$1 [P,L]
  RewriteCond %{HTTP:Upgrade} !=websocket [NC]
  RewriteRule /(.*)           http://localhost:3000/$1 [P,L]

  ProxyPassReverse / http://localhost:3000/
</VirtualHost>
