Show_Setup_Wizard=completed

OVERWRITE_SETTING_Site_Url=https://{{ common_name }}/
Site_Name={{ title }}

ADMIN_USERNAME={{ admin_username }}
ADMIN_PASS={{ admin_passw }}
ADMIN_EMAIL={{ admin_email }}

Language=en
Server_Type=privateTeam
Register_Server=true
Allow_Marketing_Emails=false

Organization_Type=nonprofit
Organization_Name={{ title }}
Industry=Other
Size=1
Country=worldwide

Accounts_AllowDeleteOwnAccount=true
Accounts_RegistrationForm=disabled
Accounts_Registration_AuthenticationServices_Enabled=true

SMTP_Host={{ smtp_hostname }}
SMTP_Port={{ smtp_port }}
SMTP_Username={{ smtp_username }}
SMTP_Password={{ smtp_passw }}
SMTP_IgnoreTLS=true
From_Email={{ smtp_username }}

Webdav_Integration_Enabled=true
FileUpload_Enabled=true
FileUpload_Storage_Type=GridFS
E2E_Enable=true
Jitsi_Enabled=true
Jitsi_Enable_Channels=true
UserData_EnableDownload=true
