# Ansible provisioned
# The default virtual host for port 80
<VirtualHost *:80>
  ServerName {{ common_name }}
{% if subject_alt_names %}
  {% for alias in subject_alt_names %}{% if alias != common_name %}
  ServerAlias {{ alias }}
  {% endif %}{% endfor %}
{% endif %}

  ServerAdmin root@{{ hostname }}
  Include /etc/apache2/conf-available/le.conf
  RedirectMatch 301 ^(?!/\.well-known/acme-challenge/).* https://{{ common_name }}$0
</VirtualHost>

# The default virtual host for port 443
<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerName {{ common_name }}
{% if subject_alt_names %}
  {% for alias in subject_alt_names %}{% if alias != common_name %}
    ServerAlias {{ alias }}
  {% endif %}{% endfor %}
{% endif %}

    ServerAdmin root@{{ hostname }}
    SSLEngine on
    SSLCertificateFile            /etc/ssl/le/{{ common_name }}.cert.pem
    SSLCertificateKeyFile         /etc/ssl/le/{{ common_name }}.key.pem
    SSLCertificateChainFile       /etc/ssl/le/{{ common_name }}.ca.pem
    Header add Strict-Transport-Security: "max-age=15768000;includeSubdomains"
    DocumentRoot "/var/www/nextcloud"
    <Directory /var/www/nextcloud/>
      Options +FollowSymlinks
      AllowOverride All
     <IfModule mod_dav.c>
      Dav off
     </IfModule>
     SetEnv HOME /var/www/nextcloud
     SetEnv HTTP_HOME /var/www/nextcloud
    </Directory>
  </VirtualHost>
</IfModule>
# vim: set ft=apache:
