# Ansible provisioned
<VirtualHost *:80>
  ServerName {{ common_name }}

  ServerAdmin root@{{ hostname }}
  Include /etc/apache2/conf-available/le.conf
  RedirectMatch 301 ^(?!/\.well-known/acme-challenge/).* https://{{ common_name }}$0
</VirtualHost>

# https://nextcloud.com/collaboraonline/
<IfModule mod_ssl.c>
  <VirtualHost *:443>

    ServerName {{ common_name }}

    SSLEngine on
    SSLCertificateFile            /etc/ssl/le/{{ common_name }}.cert.pem
    SSLCertificateKeyFile         /etc/ssl/le/{{ common_name }}.key.pem
    SSLCertificateChainFile       /etc/ssl/le/{{ common_name }}.ca.pem

    # Encoded slashes need to be allowed
    AllowEncodedSlashes NoDecode

    # Container uses a unique non-signed certificate
    SSLProxyEngine On
    SSLProxyVerify None
    SSLProxyCheckPeerCN Off
    SSLProxyCheckPeerName Off

    # keep the host
    ProxyPreserveHost On

    # static html, js, images, etc. served from loolwsd
    # loleaflet is the client part of LibreOffice Online
    ProxyPass           /loleaflet https://127.0.0.1:9980/loleaflet retry=0
    ProxyPassReverse    /loleaflet https://127.0.0.1:9980/loleaflet

    # WOPI discovery URL
    ProxyPass           /hosting/discovery https://127.0.0.1:9980/hosting/discovery retry=0
    ProxyPassReverse    /hosting/discovery https://127.0.0.1:9980/hosting/discovery

    # Main websocket
    ProxyPassMatch "/lool/(.*)/ws$" wss://127.0.0.1:9980/lool/$1/ws nocanon

    # Admin Console websocket
    ProxyPass   /lool/adminws wss://127.0.0.1:9980/lool/adminws

    # Download as, Fullscreen presentation and Image upload operations
    ProxyPass           /lool https://127.0.0.1:9980/lool
    ProxyPassReverse    /lool https://127.0.0.1:9980/lool

    # Endpoint with information about availability of various features
    ProxyPass           /hosting/capabilities https://127.0.0.1:9980/hosting/capabilities retry=0
    ProxyPassReverse    /hosting/capabilities https://127.0.0.1:9980/hosting/capabilities

    # Redirect requests for https://{{ common_name }}/
    RedirectMatch ^/$ https://{{ hostname }}/

  </VirtualHost>
</IfModule>
# vim: set ft=apache:
