db.rocketchat_settings.insertMany([
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud",
	"type" : "boolean",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Enable",
	"persistent" : true,
	"packageValue" : false,
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 65,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : true
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-url",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "URL",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 66,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-url_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "https://{{ hostname }}"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-token_path",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Token_Path",
	"persistent" : true,
	"packageValue" : "/oauth/token",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 67,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-token_path_Description",
	"autocomplete" : true,
	"ts" : ISODate("2019-05-29T12:15:57.950Z"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "https://{{ hostname }}/apps/oauth2/api/v1/token"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-token_sent_via",
	"type" : "select",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Token_Sent_Via",
	"persistent" : true,
	"values" : [
		{
			"key" : "header",
			"i18nLabel" : "Header"
		},
		{
			"key" : "payload",
			"i18nLabel" : "Payload"
		}
	],
	"packageValue" : "payload",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 68,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-token_sent_via_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "header"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-identity_token_sent_via",
	"type" : "select",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Identity_Token_Sent_Via",
	"persistent" : true,
	"values" : [
		{
			"key" : "default",
			"i18nLabel" : "Same_As_Token_Sent_Via"
		},
		{
			"key" : "header",
			"i18nLabel" : "Header"
		},
		{
			"key" : "payload",
			"i18nLabel" : "Payload"
		}
	],
	"packageValue" : "default",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 69,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-identity_token_sent_via_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "default"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-identity_path",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Identity_Path",
	"persistent" : true,
	"packageValue" : "/me",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 70,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-identity_path_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "https://{{ hostname }}/ocs/v2.php/cloud/user?format=json"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-authorize_path",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Authorize_Path",
	"persistent" : true,
	"packageValue" : "/oauth/authorize",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 71,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-authorize_path_Description",
	"autocomplete" : true,
	"ts" : ISODate("2019-05-29T12:15:57.979Z"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "https://{{ hostname }}/apps/oauth2/authorize"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-scope",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Scope",
	"persistent" : true,
	"packageValue" : "openid",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 72,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-scope_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "openid"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-access_token_param",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Access_Token_Param",
	"persistent" : true,
	"packageValue" : "access_token",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 73,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-access_token_param_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "access_token"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-id",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_id",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 74,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-id_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "{{ client_id.stdout }}"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-secret",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Secret",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 75,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-secret_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "{{ client_secret.stdout }}"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-login_style",
	"type" : "select",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Login_Style",
	"persistent" : true,
	"values" : [
		{
			"key" : "redirect",
			"i18nLabel" : "Redirect"
		},
		{
			"key" : "popup",
			"i18nLabel" : "Popup"
		},
		{
			"key" : "",
			"i18nLabel" : "Default"
		}
	],
	"packageValue" : "popup",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 76,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-login_style_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "redirect"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-button_label_text",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Button_Label_Text",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 77,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-button_label_text_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "Login with nextcloud"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-button_label_color",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Button_Label_Color",
	"persistent" : true,
	"packageValue" : "#FFFFFF",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 78,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-button_label_color_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "#FFFFFF"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-button_color",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Button_Color",
	"persistent" : true,
	"packageValue" : "#1d74f5",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 79,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-button_color_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "#1d74f5"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-username_field",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Username_Field",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 80,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-username_field_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "ocs.data.id"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-avatar_field",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Avatar_Field",
	"persistent" : true,
	"packageValue" : "",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 81,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-avatar_field_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : ""
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-roles_claim",
	"type" : "string",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Roles_Claim",
	"persistent" : true,
	"packageValue" : "roles",
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 82,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-roles_claim_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : "roles"
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-merge_roles",
	"type" : "boolean",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Merge_Roles",
	"persistent" : true,
	"packageValue" : false,
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 83,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-merge_roles_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : false
},
{
	"_id" : "Accounts_OAuth_Custom-Nextcloud-merge_users",
	"type" : "boolean",
	"group" : "OAuth",
	"section" : "Custom OAuth: Nextcloud",
	"i18nLabel" : "Accounts_OAuth_Custom_Merge_Users",
	"persistent" : true,
	"packageValue" : false,
	"valueSource" : "packageValue",
	"hidden" : false,
	"blocked" : false,
	"sorter" : 84,
	"i18nDescription" : "Accounts_OAuth_Custom-Nextcloud-merge_users_Description",
	"autocomplete" : true,
	"ts" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"_updatedAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"createdAt" : ISODate("{{ ansible_date_time.iso8601_micro }}"),
	"value" : true
}
])
