INSERT INTO oc_oauth2_clients (name, redirect_uri, client_identifier, secret)
VALUES ('Rocketchat','https://{{ common_name }}/_oauth/nextcloud','{{ client_id.stdout }}','{{ client_secret.stdout }}');
